*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    background-color: #343F4F;
}

.container{
    display: inline-flex;
}

h1{
    font-size: 3rem;
    color: wheat;
}

.list-container{
    list-style: none;
    font-size: 3rem;
    margin-left: 25px;
    color: #fc6d6d;
    font-weight: 400;
    line-height: 80px;
    height: 80px;
    position: relative;
    overflow:hidden;
    
}




@keyframes list{
    100%{
        top: -320px;
    }
} 

.list-container li{
    color: #fc6d6d;
    position: relative;
    top:0;
    font-size: 60px;
    font-weight: 500;
    animation: list 10s steps(4) infinite;
    
    
    
}

.list-items::after{
    content: "";
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #343f4f;
    border-left: 2px solid #fc6d6d;
    animation: typing 2.5s steps(11) infinite;
}

@keyframes typing{
    
        90%{
          left: calc(100% + 30px);
        }
        100%{
          left: 0;
        }}
      
@media screen and (max-width:480px) {
       

           h1{
               font-size: 1rem;
           }

           .list-container li{
               font-size: 1rem;
           }

           .list-container{
               line-height: 25px;
               height: 25px;
               margin-left: 15px;
           }

           @keyframes list{
            100%{
                top: -100px;
            }
        } 


       }
}


